.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  &__input {
    height: 22px;
    width: 210px;
  }
  &__input__comment{
    height: 240px;
    width: 240px;
  }
  &__input:not(:last-child) {
    margin-bottom: 50px;
  }
  &__btn {
    width: 200px;
    height: 40px;
    align-self: flex-end;
  }
  &__comment {
    width: 100%;
    height: 80%;
  }
}

.error {
  border-color: red;
}
.error_comment {
  height: 200px;
  width: 200px;
  border-color: red;
}
